.heads {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #aad8d3;
  padding: 12px;
  margin-left: 18.5%;
  font-size: 4.5em;
  text-decoration: underline;
}

.flexer {
  display: flex;
  flex-direction: column;
  //align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #eeeeee;
  width: 100%;
  max-width: 1000px;
}

.flexing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
